{% extends 'index.html' %}
{% load  static %}
{% block content %}
    <section>
        <div class="container">
            <div class="text-center">
                <h1>Contact Us</h1>

                <br>

                <p class="lead">You can get in touch with us by filling the form below.</p>
            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <form id="contact-form" role="form" action="/contact-form/" method="post">
                        {% csrf_token %}
                        {% for form in contact_form %}
                            <div class="col-md-12 col-sm-12">
                                {{ form }}
                            </div>
                        {% endfor %}

                        <div class="col-md-4 col-sm-12">
                            <input type="submit" class="form-control" name="send message" value="Send Message">
                        </div>

                    </form>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                        <img src="{% static 'images/contact-1-600x400.jpg' %}" class="img-responsive" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}
