{% extends 'index.html' %}
{% load  static %}
{% block content %}
    {% block navbar %}
        <!-- MENU LINKS -->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-nav-first">
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'offers' %}">Fleet</a></li>
                <li><a href="{% url 'fleet' %}">Offers</a></li>
                <li><a href="{% url 'about' %}">About Us</a></li>
                <li class="active"><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </div>
    {% endblock navbar %}

    <section>
        <div class="container">
            <div class="text-center">
                <h1>Contact Us</h1>

                <br>

                <p class="lead">You can get in touch with us by filling the form below.</p>
            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <form id="contact-form" role="form" action="/contact-form/" method="post">
                        {% csrf_token %}
                        {% for form in contact_form %}
                            <div class="col-md-12 col-sm-12">
                                {{ form }}
                            </div>
                        {% endfor %}

                        <div class="col-md-4 col-sm-12">
                            <input type="submit" class="form-control" name="send message" value="Send Message">
                        </div>

                    </form>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                        <img src="{% static 'images/contact-1-600x400.jpg' %}" class="img-responsive" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
{% endblock content %}
