{% extends 'index.html' %}
{% load static %}
{% load humanize %}
{% block content %}

    <section>
        <div class="container">
            <div class="text-center">
                <h1>Fleet</h1>

                <br>

                <p class="lead">This is our fleet of cars available for rent.</p>
            </div>
        </div>
    </section>

    <section class="section-background">
        <div class="container">
            <div class="row">
                {% for car in cars %}
                    <div class="col-md-4 col-sm-4">
                        <div class="courses-thumb courses-thumb-secondary">
                            <div class="courses-top">
                                <div class="courses-image">
                                    <img src="{{ car.image_url }}" class="img-responsive" alt="">
                                </div>
                                <div class="courses-date">
                                    <span title="passegengers"><i class="fa fa-user"></i> {{ car.passengers }}</span>
                                    <span title="luggages"><i class="fa fa-briefcase"></i> {{ car.luggage }}</span>
                                    <span title="doors"><i class="fa fa-sign-out"></i> {{ car.doors }}</span>
                                    <span title="transmission"><i class="fa fa-cog"></i> {{ car.transmission }}</span>
                                </div>
                            </div>

                            <div class="courses-detail">
                                <h3>{{ car.name }}</h3>
                                <p class="lead"><small>from</small> <strong><s>N</s>{{ car.price|floatformat|intcomma }}
                                </strong> <small>per
                                    weekend</small>
                                </p>
                            </div>

                            <div class="courses-info">
                                <button type="button" data-toggle="modal" data-target=".bs-example-modal"
                                        class="section-btn btn btn-primary btn-block">Book Now
                                </button>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <div class="modal fade bs-example-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="gridSystemModalLabel">Book Now</h4>
                </div>

                <div class="modal-body">
                    <form action="{% url 'booking' %}" id="contact-form" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                {{ booking_form.pickup_location }}
                            </div>
                            <div class="col-md-6">
                                {{ booking_form.return_location }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="datetime-local" class="form-control" name="pickup_date_and_time"
                                       value="{{ booking_form.pickup_date_and_time.value|date:'Y-m-d\TH:i' }}" required>
                            </div>
                            <div class="col-md-6">
                                <input type="datetime-local" class="form-control" name="return_date_and_time"
                                       value="{{ booking_form.return_date_and_time.value|date:'Y-m-d\TH:i' }}" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="full_name" placeholder="Enter full name"
                                       required>
                            </div>
                            <div class="col-md-6">
                                <input type="email" class="form-control" name="email_address"
                                       placeholder="Enter email address" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" name="phone_number"
                                       placeholder="Enter phone (+123...)" required>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="section-btn btn btn-primary"><a href="{% url 'booking' %}">Book
                                Now</a></button>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

{% endblock content %}